*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.box-loader-wrapper {
    width: 100%;
    height: 100vh;

    background: #3f51b5;
}

.box-loader.container {
    position: fixed;

    width: 100%;
    height: 100%;

    -webkit-transform: translate(-50%, -50%);
    -webkit-transform: rotateX(-30deg) rotateY(-45deg);
            transform: translate(-50%, -50%);
            transform: rotateX(-30deg) rotateY(-45deg);

    -webkit-perspective: 2000px;
            perspective: 2000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.box-loader .holder {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -webkit-transform: translate3d(0em, 3em, 1.5em);
            transform: translate(-50%, -50%);
            transform: translate3d(0em, 3em, 1.5em);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.box-loader .holder:last-child {
    -webkit-transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
            transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
}
.box-loader .holder:first-child {
    -webkit-transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
            transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
}
.box-loader .holder:nth-child(1) .box {
    background-color: #1fbcd3;
}
.box-loader .holder:nth-child(1) .box:before {
    background-color: #126d7a;
}
.box-loader .holder:nth-child(1) .box:after {
    background-color: #1894a7;
}
.box-loader .holder:nth-child(2) .box {
    background-color: #cbe2b4;
}
.box-loader .holder:nth-child(2) .box:before {
    background-color: #98c66a;
}
.box-loader .holder:nth-child(2) .box:after {
    background-color: #b2d48f;
}
.box-loader .holder:nth-child(3) .box {
    background-color: #f6b6ca;
}
.box-loader .holder:nth-child(3) .box:before {
    background-color: #eb5b88;
}
.box-loader .holder:nth-child(3) .box:after {
    background-color: #f089a9;
}

.box-loader .box {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 3em;
    height: 3em;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: ani-box 7s infinite;
            animation: ani-box 7s infinite;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.box-loader .box:before,
.box-loader  .box:after {
    position: absolute;

    width: 100%;
    height: 100%;

    content: "";
}
.box-loader .box:before {
    bottom: 0;
    left: 100%;

    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
}
.box-loader .box:after {
    bottom: 100%;
    left: 0;

    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

@-webkit-keyframes ani-box {
    8.33% {
        -webkit-transform: translate3d(-50%, -50%, 0) scaleZ(2);
                transform: translate3d(-50%, -50%, 0) scaleZ(2);
    }
    16.7% {
        -webkit-transform: translate3d(-50%, -50%, -3em) scaleZ(1);
                transform: translate3d(-50%, -50%, -3em) scaleZ(1);
    }
    25% {
        -webkit-transform: translate3d(-50%, -100%, -3em) scaleY(2);
                transform: translate3d(-50%, -100%, -3em) scaleY(2);
    }
    33.3% {
        -webkit-transform: translate3d(-50%, -150%, -3em) scaleY(1);
                transform: translate3d(-50%, -150%, -3em) scaleY(1);
    }
    41.7% {
        -webkit-transform: translate3d(-100%, -150%, -3em) scaleX(2);
                transform: translate3d(-100%, -150%, -3em) scaleX(2);
    }
    50% {
        -webkit-transform: translate3d(-150%, -150%, -3em) scaleX(1);
                transform: translate3d(-150%, -150%, -3em) scaleX(1);
    }
    58.3% {
        -webkit-transform: translate3d(-150%, -150%, 0) scaleZ(2);
                transform: translate3d(-150%, -150%, 0) scaleZ(2);
    }
    66.7% {
        -webkit-transform: translate3d(-150%, -150%, 0) scaleZ(1);
                transform: translate3d(-150%, -150%, 0) scaleZ(1);
    }
    75% {
        -webkit-transform: translate3d(-150%, -100%, 0) scaleY(2);
                transform: translate3d(-150%, -100%, 0) scaleY(2);
    }
    83.3% {
        -webkit-transform: translate3d(-150%, -50%, 0) scaleY(1);
                transform: translate3d(-150%, -50%, 0) scaleY(1);
    }
    91.7% {
        -webkit-transform: translate3d(-100%, -50%, 0) scaleX(2);
                transform: translate3d(-100%, -50%, 0) scaleX(2);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) scaleX(1);
                transform: translate3d(-50%, -50%, 0) scaleX(1);
    }
}

@keyframes ani-box {
    8.33% {
        -webkit-transform: translate3d(-50%, -50%, 0) scaleZ(2);
                transform: translate3d(-50%, -50%, 0) scaleZ(2);
    }
    16.7% {
        -webkit-transform: translate3d(-50%, -50%, -3em) scaleZ(1);
                transform: translate3d(-50%, -50%, -3em) scaleZ(1);
    }
    25% {
        -webkit-transform: translate3d(-50%, -100%, -3em) scaleY(2);
                transform: translate3d(-50%, -100%, -3em) scaleY(2);
    }
    33.3% {
        -webkit-transform: translate3d(-50%, -150%, -3em) scaleY(1);
                transform: translate3d(-50%, -150%, -3em) scaleY(1);
    }
    41.7% {
        -webkit-transform: translate3d(-100%, -150%, -3em) scaleX(2);
                transform: translate3d(-100%, -150%, -3em) scaleX(2);
    }
    50% {
        -webkit-transform: translate3d(-150%, -150%, -3em) scaleX(1);
                transform: translate3d(-150%, -150%, -3em) scaleX(1);
    }
    58.3% {
        -webkit-transform: translate3d(-150%, -150%, 0) scaleZ(2);
                transform: translate3d(-150%, -150%, 0) scaleZ(2);
    }
    66.7% {
        -webkit-transform: translate3d(-150%, -150%, 0) scaleZ(1);
                transform: translate3d(-150%, -150%, 0) scaleZ(1);
    }
    75% {
        -webkit-transform: translate3d(-150%, -100%, 0) scaleY(2);
                transform: translate3d(-150%, -100%, 0) scaleY(2);
    }
    83.3% {
        -webkit-transform: translate3d(-150%, -50%, 0) scaleY(1);
                transform: translate3d(-150%, -50%, 0) scaleY(1);
    }
    91.7% {
        -webkit-transform: translate3d(-100%, -50%, 0) scaleX(2);
                transform: translate3d(-100%, -50%, 0) scaleX(2);
    }
    100% {
        -webkit-transform: translate3d(-50%, -50%, 0) scaleX(1);
                transform: translate3d(-50%, -50%, 0) scaleX(1);
    }
}
