@import '../partials/colors';

.create-task {
  background: $blue;
  margin-top: 70px;
  padding: 0 10px 70px 10px;
  position: absolute;
  z-index: 9;
  width: 100%;

  .buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;

    > .btn {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      width: 100px;
      padding: 10px;
      font-weight: 500;
      text-align: center;
      color: #454545;
      border-radius: 3px;
    }
    > .save-btn {
      background: $save-btn-color;
    }

    > .discard-btn {
      background: $discard-btn-color;
    }
  }

  .add-project {
    .section {
      border-radius: 2px;
      font-size: 14px;
      margin: 0px 0 15px;

      .placeholder {
        background: rgba(240,240,240,0.9);
        padding: 10px;
        color: #000;
        display: flex;
        justify-content: space-between;

        span:nth-child(1) {
          text-transform: uppercase;
        }

        span:nth-child(2) {
          color: $blue;
          font-style: italic;
          font-size: 16px;
          font-weight: 700;
        }

        &.none {
          color: #555;
          background: rgba(197, 202, 233, 0.6);

          span:nth-child(2) {
            color: #555;
            font-weight: 400;
          }
        }
      }

      div {
        border: none;
      }

      .css-7akihy, .css-txh219 {
        border-radius: 0;
        padding: 2.5px 0;
        border: none;
      }

      input, textarea {
        display: flex;
        width: 100%;
        font-size: 16px;
        outline: none;
        font-weight: 600;
        resize: none;
        height: 100%;
        border: none;
        outline: none;
        background: white;
      }

      textarea {
        padding: 10px;
        font-family: 'Open Sans';
        font-weight: 400;
      }

      &.priority {
        .css-y70vk7 {
          padding: 0;
        }

        .css-y70vk7 li:nth-child(1) {
          background: $p1;
        }

        .css-y70vk7 li:nth-child(2) {
          background: $p2;
        }

        .css-y70vk7 li:nth-child(3) {
          background: $p3;
        }
      }

      .m-input-moment {
        width: 100%;
        background: white;
        margin-bottom: 20px;
      }

      .options {
        position: relative;
        margin-bottom: 20px;
      }

      .options button.is-active {
        background: $blue;
        border: none;
        color: white;
      }

      .m-calendar .toolbar button {
        background: $blue;
        border: none;
      }

      .options button {
        color: $blue;
        border-color: $blue;
      }

      .m-calendar thead td,
      .m-calendar .current-day {
        color: $blue;
      }

      .m-calendar tbody td:hover {
        color: white;
        background: $blue;
      }

      .m-calendar .toolbar .current-date {
        color: $blue;
      }

      .m-time .time {
        background: $blue;
      }

      .u-slider-time .value {
        background: $blue;
      }

      .u-slider-time .handle:after {
        border-color: $blue;
      }

      .m-time .separater {
        color: $blue;
      }

      .m-time .time-text {
        color: $blue;
      }

      .m-input-moment .btn-save {
        background: $blue;
      }
    }
  }
}
