@import '../partials/colors';

#forecast-view {
  .days {
    height: 90px;
    display: flex;
    width: 100%;
    background: $blue;
    color: white;

    .day {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      padding: 10px 0 ;

      .day-name {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 400;
      }

      .count {
        font-size: 26px;
        margin-top: 15px;
        font-family: monospace;
      }

      &:nth-child(2) {
        background: rgba(0,0,0,0.1);
      }
    }
  }
}
