.simple-nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;
    padding: 18px 15px;

    background: #3f51b5;
}

.simple-nav .heading {
    float: left;
    padding: 5px 0;

    font-size: 18px;
    font-weight: 700;

    vertical-align: middle;

    color: white;
}

.create-link .create-icon {
    padding-right: 5px;

    font-size: 18px;
}

.create-link {
    display: inline-block;
    float: right;
    padding: 0 10px;
    margin-top: 5px;

    border-radius: 20px;
    background: #00897b;
}

.create-link span {
    font-size: 12px;
    font-weight: 500;

    vertical-align: middle;

    color: white;
}
