.label-list
{
  padding-top: 80px;
}

.label-item
{
  padding: 10px 30px;
}
.create-label-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.2);
}

.create-label-btn {
    display: inline;
    padding: 5px 10px;
    margin: 10px 10px 0 0 ;

    color: white;
    border-radius: 3px;
    background: #00897b;
}

.create-label-cancel {
    color: #3f51b5;
}
