.loader {
    position: absolute;
    top: 40%;
    left: 48%;
}

.dummy-nav {
    position: absolute;
    top: -70px;

    width: 100%;
    height: 70px;

    background: #3f51b5;
}

.loader .line {
    display: inline-block;
    width: 1px;
    height: 25px;
    margin: 0 3px;

    transform-origin: center center;
    animation: expand 1s ease-in-out infinite;

    border-radius: 10px;
}

.loader .line:nth-child(1) {
    background: #27ae60;
}

.loader .line:nth-child(2) {
    animation-delay: 180ms;

    background: #f1c40f;
}

.loader .line:nth-child(3) {
    animation-delay: 360ms;

    background: #e67e22;
}

.loader .line:nth-child(4) {
    animation-delay: 540ms;

    background: #2980b9;
}

@keyframes expand {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(2);
    }
}

.loader-container {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 7;

    width: 100%;
    height: 100%;
}
