.navigation {
  position: fixed;

  width: 100%;
  padding: 10px 0 15px;

  background: #3f51b5;
  z-index: 20;

  .actions {
    // color: white;
    padding: 20px 10px 0;
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    justify-content: space-between;

    .by {
      color: white;
      font-size: 16px;
      text-transform: capitalize;
    }

    .action {
      border-radius: 3px;
      padding: 3px 6px;
      background: rgba(256,256,256, 0.9);
      font-weight: 600;

      &.close {
        background: #EF5350;
        color: white;
      }

      svg, i{
        // font-size: 8px;
        // display: none;
      }
    }
  }

  .nav-header {
    padding: 20px 15px 0;
    color: white;
    display: flex;

    .title {
      font-weight: 700;
    }

    .task-num {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      background: rgb(105, 118, 137);
      // width: 22px;
      // height: 20px;
      font-size: 12px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      color: rgba(256, 256, 256, 1);
      margin: 0 6px;
      padding: 0 10px;
      text-align: center;
    }
  }

  .navigation-items {
    display: flex;
    width: calc(100% - 20px);
    height: 45px;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 14px;
    color: rgba(0,0,0,.7);
    border-radius: 3px;
    background: rgba(240,240,240,1);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    align-items: center;

    .placeholder {
      flex: 10;
    }
  }

  .search-icon {
    font-size: 16px;
    flex: 1;
  }

  .search-box {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    flex: 17;
  }

  .toggle-options {
    transition: 0.2s ease-out;
  }

  .open {
    transform: rotate(180deg);
  }

  .expand {
    font-size: 16px;
    float: right;
    margin: 0 5px;
  }
}
