.options {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;

    width: 100%;

    background: rgb(240,240,240);
    box-shadow: 0 -1px 5px rgba(0,0,0,.2);
}

.options .option {
    padding: 10px;
}
