.projects {
    padding: 20px 0;
    padding-bottom: 70px;
}

.projects .project-list {
    padding-top: 55px;
}

.projects .project {
    display: flex;
    padding: 18px 15px;

    font-size: 14px;

    align-items: center;
}

.projects .project .project-title {
    flex: 10;
}

.projects .project .menu {
    text-align: center;
    flex: 1;
    color: rgba(0,0,0,.3);
}

.projects .project .icon {
    width: 16px;
    height: 16px;
    padding-right: 16px;
    margin-right: 10px;

    font-size: 12px;

    border-radius: 10px;
}

.projects .project span {
    /*vertical-align: bottom;*/
    /*font-size: 14px;*/
}

.create-project .create-project-field {
    display: flex;
    width: 100%;
    padding: 0 5px;
    margin: 15px 0;

    vertical-align: middle;

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
}

.create-project .create-project-field span {
    width: 16px;
    height: 16px;
    padding-right: 16px;
    margin: 10px 10px 0 5px;

    font-size: 30px;

    border-radius: 10px;
}

.create-project input {
    padding: 8px 5px 8px 0;

    font-size: 14px;

    flex: 10;
}

.create-project {
    font-size: 14px;
}

.create-project .create-project-btn {
    display: inline;
    padding: 5px 10px;
    margin: 10px 10px 0 0 ;

    color: white;
    border-radius: 3px;
    background: #00897b;
}

.create-project .create-project-cancel {
    color: #3f51b5;
}

.block-picker {
    display: flex;
    width: 100% !important;

    border: 1px solid rgba(0,0,0,.2);

    /*justify-content: center;*/
}

.block-picker input,
.block-picker > div:nth-child(2) {
    display: none !important;
}
