@import '../partials/colors';

.tab-bottom {
  align-items: center;
  background: $tab-bar-background;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;

  .tab-element {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 10px;
    text-align: center;

    > .icon {
      color: $black-a-40;
      font-size: 16px;
      transition: .2;
    }

    &.selected > .icon {
      color: $blue;
      font-size: 18px;
    }

    > .label {
      font-size: 10px;
      padding-top: 8px;
      text-transform: uppercase;
    }
  }

  path {
    pointer-events: none;
  }
}

