@import '../partials/colors';

.task-list {
  z-index: 5;
  padding-bottom: 80px;
  padding-top: 115px;
}

.separator {
  width: 100%;
  height: 1px;
  background: rgba(200,200,200,.3);
}

.task {
  width: 100%;
  position: relative;

  .priority {
    height: calc(100%);
    left: 0;
    margin: auto;
    position: absolute;
    width: 4px;

    &.p1 {
      background: $p1;
    }

    &.p2 {
      background: $p2;
    }

    &.p3 {
      background: $p3;
    }
  }

  &.future {
    display: none;
  }

  .main {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;

    .info {
      flex: 10;
      padding-right: 10px;

      .title {
        font-size: 16px;
      }
    }

    .status {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: 3px;
      color: transparent;
      border: 1.5px solid rgba(50, 50, 50, 0.8);
    }
  }

  .more {
    padding-top: 5px;
    font-size: 10px;
    color: #666;
    display: flex;

    .project-name {
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    .color-circle {
      height: 7px;
      width: 7px;
      border-radius: 10px;
      display: inline-block;
      margin-right: 4px;
    }

    .labels {
      padding: 0 3px;
    }

    .label {
      padding: 0 2px;
      display: inline-block;
    }

    .time {
      flex: 10;
      text-align: right;
      font-weight: 600;
    }
  }

  &.done {
    .main {
      background: rgba(230,230,230,0.1);
    }

    .status,
    .info {
      color: rgba(50, 50, 50, 0.5);
      border-color: rgba(50, 50, 50, 0.2);
      text-decoration: line-through;
      text-decoration-color: rgba(0, 0, 0, 0.2);
    }

    .more {
      color: rgba(50, 50, 50, 0.5);

      .color-circle {
        background: rgba(0, 0, 0, 0.1) !important;
      }
    }
  }
}
