$blue: #3f51b5;
$green: #00e676;
$gray: #b0bec5;

// Tab colors
$tab-bar-background: rgb(235, 235, 235);

// blacks with different alpha
$black-a-40: rgba(0, 0, 0, .4);
$black-a-90: rgba(0, 0, 0, .9);

// priority colors
$p1: #d50000;
$p2: #ff9e80;
$p3: #ffff8d;


// creat button colors
$save-btn-color: $green;
$discard-btn-color: $gray;
