html,
body {
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

input {
    font-family: "Open Sans", sans-serif;

    border: unset;
    outline: unset;
    background: unset;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0,0,0,.8);
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0,0,0,.8);
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0,0,0,.8);
}
:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0,0,0,.8);
}


.hidden {
    display: none !important;
}

a,
a:hover,
a:visited {
    text-decoration: unset;

    color: unset;
}
